html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.OwnerName{
    font-size:18px;
    font-weight: 600;
}

.card-title {

    background-image: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 100%);
    background-position: 0 bottom;
    background-size: 80% 2px; /* Adjust the size of the underline */
    background-repeat: no-repeat;
}

.card-text{
    background-color: rgb(183, 183, 204, 0.06)
}

SportAndType{
    margin-right:20px;

}

.activityPhotos {
    width: 100%; /* Make the photo responsive to the width of its container */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 10px;
}

.card {
    max-width: 50vw; /* Set maximum width to half of the viewport width */
    margin: 0 auto; /* Center the element horizontally */
    padding: 20px; /* Example padding */
    background-color: #f0f0f0; /* Example background color */
    margin-bottom: 20px; /* Adds space between cards */
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
}

.card-body {
    display: flex;
    flex-direction: column; /* Ensure content stacks vertically */
    padding: 20px;
}

.pic-name-date {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.profilePic {
    width: 50px; /* Adjust as needed */
    height: 50px; /* Adjust as needed */
    border-radius: 50%; /* Rounded profile picture */
    margin-right: 15px;
}

.OtherProperties {
    gap: 30px 10px;
    display: flex;
    flex-wrap: wrap; /* Allow tiles to wrap on smaller screens */
}

.tile {
    padding: 5px;
    margin-right: 10px; /* Space between tiles */
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    padding: 5px 10px;
    background-color: rgb(183, 183, 204, 0.06); /* Half-transparent background color */

    border: 1px solid #e9ecef; /* Border around the tile */
    border-right-width: 3px; /* Adjust border width as desired */
    border-right-color: #ccc; /* Color of the border line */
    border-radius: 4px;
}

.tile-content {
    
}

.propName {
    margin-right: 5px;
    padding: 1px;
    margin: 1px;
    font-size: 11px;
}
